

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <input type="email", name="email" class="form-control"  placeholder="Email" autocomplete="off">
    <input type="text", name="username" class="form-control"  placeholder="Nombre de Usuario" autocomplete="off">
    <input type="password", name="password1" class="form-control"  placeholder="Contraseña" autocomplete="off">
    <input type="password", name="password2" class="form-control"  placeholder="Repetir Contraseña" autocomplete="off">
    <button class="btn btn-primary" type="submit">Enviar</button>
</form>